html {
    background-color: var(--surface1);
}

.app {
    height: 100vh;
}

.navbar {
    background-color: var(--text1);
}

.logo {
    display: grid;
    color: var(--surface1);
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1rem;
}

.inputColorForm input {
    background-color: transparent;
    color: var(--surface1);
    text-align: center;
    font-size: 2rem;
    width: 65%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--surface1);
    font-weight: 200;
}

.wrapper {
    padding: 1rem;
    background-color: var(--bg);
    border-radius: 15px;
    min-height: 100%;
}

.surface1 {
    background-color: var(--surface1);
    color: var(--text2);
    height: 8rem;
}
.surface2 {
    background-color: var(--surface2);
    color: var(--text2);
    height: 8rem;
}
.surface3 {
    background-color: var(--surface3);
    color: var(--text1);
    height: 8rem;
}
.surface4 {
    background-color: var(--surface4);
    color: var(--text1);
    height: 8rem;
}

hr {
    background-color: var(--text1);
    height: 0.5px;
}

.brand {
    color: var(--brand);
}

.textColor1 {
    color: var(--text1);
}

.textColor2 {
    color: var(--text2);
}
